.completed {
  color: darkgreen;
}

.item {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.character-name {
  font-weight: bold;
  font-size: 18px;
}

.recruited {
  font-style: italic;
}
